
  <div role="main" class="container">
    <br /><br />

          <div class="row">

          <!--column 1 of 2-->
          <div class = "col-sm-4">
            <!--composer image goes here-->
            <img src="./assets/fryderyk-franciszek-chopin.jpg" width="350" height="350"/>
            <p>Image by <a href="https://pixabay.com/users/taniavdb-54472/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=430346">Tania Van den Berghen</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=430346">Pixabay</a></p>
        </div>
    <!--column 2 of 2-->
        <div class="col-sm-8">
          <!--composer bio goes here-->
          <p>Chopin, born Fryderyk Franciszek Chopin on 1st March 1810 in Warsaw was a pianist composer in the Romantic era.
            He is famous for his waltzes, nocturnes, impromptus, preludes, etudes, and sonatas amongst many more.
            till a very popular composer more than a hundred years after his death, Chopin’s works have reflected his tumultuous life.
            His poor health and relationships with several woman have greatly impacted his compositions.
            He was friends with Franz Liszt and gained respect from other composers of that age like Robert Schumann.</p>

        </div>

      </div>


    </div>

